*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: 0px;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: black;
    padding: 5px;
}
.parent{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    justify-content: space-around;
}
li{
    display: inline-block;
    padding: 3px 4px;
}
a{
    color: black;
    text-decoration-line: none;
}
a:hover{
    color: red;
    transition: 0.5s;
}
hr{
    color: rgb(131, 131, 131);
}
h2{
    color: rgb(32, 32, 255);
}
.child_1{
    display: flex;
    justify-content: space-around;
    height: 450px;
    align-items: center;
}
.child_2{
    color: orange;
    text-decoration-line: underline;
}
h4{
    font-size: x-large;
    padding: 10px;
}
h3{
    background-color: rgb(242, 242, 242);
    margin: 15px;
    padding: 10px;
    color: rgb(56, 56, 255);
    font-size: 18px;
}
table{
    margin: 22px;
    border: 0px solid white;
}